header{
    align-items: center;
    a{
        color: $secondary-color;
        margin-left: 20px;

    }
}

.main-wrap{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgba($color: $primary-color , $alpha: .7);
    backdrop-filter: blur(1rem);
    color: $secondary-color;
    height: 80px;
    display: flex;
    align-items: center;

}
.bt-row{
    height: 50px;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba($color: $primary-color , $alpha: 0.7));
    animation-name: action;
    animation-duration: 5s;
}
@keyframes action {
    0%{width: 100%;}
    50%{width: 0;}
    100%{width: 100%;}
}
.logo{
    height: 70px;
    width: 70px;
}
.wrap{
    width: 30%;
}
