//

.wrapper{
    display: flex;
    min-height: 100vh;
    border: 1px solid gray;
}
.box-test{
    min-height: 250px;
    width: 100%;
    background-color: silver;
    border-radius: 50px;
}
.small-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 150px;
    padding: 20px;
    width: 350px;
    background-color: silver;
    border-radius: 40px;
}.row-wrap{
    align-items: center;
    justify-content: center;
}
.c-row{
    width: 95%;
    height: 3px;
    background-color: white;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    animation-name: linerow;
    animation-duration: 3s;
}
@keyframes linerow{
    0%{width: 0%;}
    100%{width: 95%;}
}
.sm-img{
    height: 50px;
    width: 50px;
}

.head{
    text-align: center;
}
.left-box{
    // min-height: 100vh;
    height: 100vh;
    overflow-y: auto;
    border-right: 2px solid white;
    width: 30%;
    position: relative;
    padding: 10px;
    background-color: #F1F2F3;
}

.right-box{
    // min-height: 100vh;
    color: black;
    height: 100vh;
    width: 70%;
    padding: 10px;
    background-color: #F1F2F3;
    overflow-y:auto;
}

::-webkit-scrollbar-thumb {
    background: #E7ECEF;
    border-radius: 10px;
  }
  /* width */
::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
//   ::-webkit-scrollbar-track {
//     box-shadow: inset 0 0 5px grey;
//     border-radius: 10px;
//   }

.dash-card{
    width: 70%;
    min-height: 200px;
    padding: 30px;
    border-radius: 50px;
    background-color: silver;
    margin: 0 auto;
}
a{

    color: black;
}
a:hover{
    text-decoration: none;
}
.c-cont{
    margin-bottom: 20px;
    rotate: 270deg;

}
.c-wrap{
    width: 50px;
    height: 3px;
}
.c-1{
    height: 3px;
    width: 10px;
    background-color: yellow;
    animation-name: c-1an;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes c-1an {
    0%{width: 10px;}
    50%{width: 50px;}
    100%{width: 10px;}
}
.c-2{
    height: 3px;
    width: 50px;
    background-color: red;
    animation-name: c-2an;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes c-2an {
    0%{width: 50px;}
    50%{width: 10px;}
    100%{width: 50px;}
}
.c-3{
    height: 3px;
    width: 32px;
    background-color: blue;
    animation-name: c-3an;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes c-3an {
    0%{width: 32px;}
    50%{width: 10px;}
    100%{width: 32px;}
}
.back{
    position: absolute;
    bottom: 0;
}

