
.w-60{
    width: 60%;
}

.w-40{
    width: 40%;
}

.img-map-box{
    height: 350px;
}

.dwelling-msg{
    overflow-y: auto;
}

.dwelling-data{
    height: 350px;
}

.dwelling-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
