header{
    align-items: center;
}

.main-wrap{
    color: white;
    background-color: black;
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid red;
}
.logo{
    height: 70px;
    width: 70px;
}
.wrap{
    width: 30%;
}
.fa-user{
    color: #007bff;
    &:hover{
        color: #0056b3;
    }
}
