main{
    background-color: $mb-primary-color;

}
.mb-containerMsg{
    background-color: #fdfffc;
}

.mb-textCut{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 200px;
    height: 1.2em;
    white-space: nowrap;
}
.mb-rowOfText{
    background-color: $detail-color;
    .mb-infoTxt{
        background-color: #fdfffc;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid black;
        margin: 15px 10px;
        h4{
            color: #235789;
            font-size: x-small;
            text-align: end;

        }
        h3{
            color: #393e41;
        }
        button{
            border-radius: 0;
            background-color: $detail-color;
        }
    }
}

.first, .second{
    width: 100px;
    height: 100px;
}
// .first{
//     background-color: #596D28;
// }
// .second{
//     background-color: #758F34;
// }
