.mb-userShow{
    background-color: $primary-color;
    color: $secondary-color;
    border: 0;
    border-radius: 0;
}

.mb-listInfo,.mb-listSingleInfo{
    border: 5px solid $primary-color;
    background-color: #3f4954;
    color: $secondary-color;
    padding: 10px;
}
.mb-listSingleInfo{
    border-width: 3px !important;

}
.card{
    border: 0;
}

.card-body{
    padding-top: 0;
    padding-left: 5px;
}
